<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Enable @Autowired, @Controller, etc. -->
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager"/>

	
	<context:component-scan base-package="com.digirecycle.model" />
	<context:component-scan base-package="com.digirecycle.dao" />

	<!-- DataSource -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/recycledb" />
		<property name="username" value="root" />
		<property name="password" value="rcpit" />
	</bean>
<bean id="transactionManager"
      class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="factory" />
</bean>

	<!-- SessionFactory -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="factory">
		<property name="dataSource" ref="ds" />
		<property name="packagesToScan" value="com.digirecycle.model" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- annotated classes -->
		<property name="annotatedClasses">
			<list>
				
				<value>com.digirecycle.model.recycler</value>

				<!-- change class name or add class name accordingly -->
			</list>
		</property>
	</bean>

	<!-- HibernateTemplate -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate" >
		<property name="sessionFactory" ref="factory" />
	</bean>

	<!-- DAO Beans -->
	<bean class="com.digirecycle.dao.userdao" name="userdao" >
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean class="com.digirecycle.dao.recyclerdao" name="recyclerdao1">
    <property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean class="com.digirecycle.dao.collectionLogDao" name="collection">
    <property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>




</beans>
